<% content_for :styles do %>
  
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
        <div class="panel-heading">
          My Articles
        </div>
        <div class="panel-body">
          <% if @orders.any? %>
            <ul class="list-group">
                <% @orders.each do |order| %>
                  <li class="list-group-item">
                    <h4><%= order.product.name %></h4>
                    <% if order.product.exclusivity_id == @free.id %>
                      <p class="text-success">Free</p>
                    <% else %>
                      <p class="text-primary">Price: <%= order.product.price %></p>
                    <% end %>
                    <%= form_tag("/order/download", method: "get") do %>
                      <%= hidden_field_tag(:order_id, order.id) %>
                      <%= submit_tag("Download", class: "btn btn-success", disabled: false) %>
                    <% end %>
                    <% unless current_user.has_rated_product?(order.product.id) %>
                      <hr>
                      <%= form_tag("/product/rate", method: "post", id:"rate_form", class: 'form-inline ') do %>
                        <%= hidden_field_tag(:product_id, order.product.id) %>
                        <%= label(:rating, 'Your rating') %>
                        <%= select_tag(:rating, options_for_select(1..5), class: 'form-control') %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
            </ul>
          <% else %>
            No Articles added.
          <% end %>
        </div>
      </div>

  </div>
</div>
<script type="text/javascript">
    $(function() {
      $('#rating').change(function() {
          this.form.submit();
      });
    });  
  </script>